<app-snackbar></app-snackbar>
<header>
  <div class="logo">
    <h1>🩺 Smart Diagnosis</h1>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/bmi">Bmi</a></li>
      <li><a routerLink="/diagnosis">Diagnosis</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/diseases" class="btn">Diagnosis Library</a></li>
      <li ><a routerLink="/medical-tips" class="btn">Medical Tips</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/emergency-help">Emergency Help</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/settings">Settings</a></li>
    <li class="dropdown" *ngIf="isLoggedIn">
  <a href="#" (click)="toggleDropdown($event)">Contact ▾</a>
  <ul class="dropdown-menu" [class.show]="dropdownOpen">
    <li><a href="https://wa.me/201110853581" target="_blank">WhatsApp</a></li>
    <li><a href="mailto:khaledibrahimza@gmail.com">Email</a></li>
    <li><a href="https://www.linkedin.com/in/khaled-ibrahim-6a969024a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">LinkedIn</a></li>
    <li><a href="https://www.facebook.com/profile.php?id=100010040340707&mibextid=ZbWKwL" target="_blank">Facebook</a></li>
    <li><a href="https://www.instagram.com/k_h_a_l_e_d_20_?igsh=OG94NWg0bmdkamVp" target="_blank">Instagram</a></li>
  </ul>
</li>

      <li *ngIf="!isLoggedIn"><a routerLink="/login" class="btn">Login</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/signup" class="btn">Sign Up</a></li>
      <li *ngIf="showLogout"><a href="#" (click)="logout()" class="btn">Log out</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>

  <p>© 2025 Smart Diagnosis. All rights reserved.</p>


</footer>

