<div class="container">
  <button class="lang-btn" (click)="toggleLanguage()"> 
    {{ isArabic ? 'English' : 'العربية' }} 
  </button>
  
  <header>
    <h1 class="title">{{ isArabic ? 'أمراض شائعة' : 'Common Diseases' }}</h1>
    <p class="description">
      {{ isArabic ? 'فيما يلي بعض الأمراض الشائعة التي يمكن أن يعاني منها العديد من الناس. .' : 'Here are some common diseases that many people may experience.' }}
    </p>
  </header>

  <div class="diseases-list">
    <div class="disease-card" *ngFor="let disease of diseases">
      <h3 class="disease-title">{{ isArabic ? disease.tagAr || disease.tag : disease.tag }}</h3>
      
      <ul class="disease-patterns">
        <li *ngFor="let pattern of isArabic ? disease.patternsAr : disease.patterns">{{ pattern }}</li>
      </ul>

      <button (click)="toggleResponse(disease)" class="read-more-btn">
        {{ disease.showResponse ? (isArabic ? 'إخفاء التشخيص' : 'Read Less') : (isArabic ? 'اقرأ التشخيص' : 'Read More') }}
      </button>

      <p *ngIf="disease.showResponse" class="disease-response">
        {{ isArabic ? disease.responseAr : disease.response }}
      </p>
    </div>
  </div>
</div>
