/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dark-mode {
  background-color: #121212;
  color: #ffffff;

  // خصص أي حاجة إضافية حسب تصميمك
  a {
    color: #020e18;
  }

  .card {
    background-color: #1e1e1e;
    border: 1px solid #333;
  }
}


  