.snackbar {
  position: fixed;
  top: 35px;
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #022235; 
  color: white;
  text-align: center;
  padding: 12px 20px; 
  font-size: 14px; 
  font-weight: 600;
  z-index: 1000;
  border-radius: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  animation: slideDown 0.5s ease-in-out, fadeOut 3s 2.5s forwards;

  .snackbar-text {
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-transform: capitalize;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-50px); 
      opacity: 0;
    }
    to {
      transform: translateY(0); 
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-50px); 
    }
  }
}
